<!DOCTYPE html>
<html lang="en">
<head>
	<link href="static/css/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Crypter Site</title>
</head>
<style>
.content {
  max-width: 960px;
  margin: auto;
}
</style>
<body>
<div class="content">
    <h1>Crypter Site</h1>
    <p>You can use this site to encrypt or decrypt a number between 1 and 100,000 using a key between 1 and 20.</p>
    <a href="encrypt" role="button" class="btn btn-primary">Encrypt</a> &nbsp; &nbsp;
	<a href="decrypt" role="button" class="btn btn-success">Decrypt</a>
	<br>
	<br>
    <p>This site has been viewed {{page_views}} times.</p>
</div>
</body>
<footer>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>
</html>